go 1.26.2

use (
	.
	./examples/perceptron
	./examples/xor
	./examples/style_showcase
	./examples/logic_gates
	./examples/callbacks
	./examples/persistence
	./examples/shared_options
	./examples/precision
	./examples/binary_classification
)
