go 1.26.3

use (
	.
	./examples/perceptron
	./examples/xor
	./examples/style_showcase
	./examples/logic_gates
	./examples/callbacks
	./examples/persistence
	./examples/shared_options
	./examples/precision
	./examples/binary_classification
	./examples/iris
	./examples/regression_sin
	./examples/regression_multi
	./examples/higher_order_options
	./examples/E10_continuation
)
